<kendo-dialog class="loading-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="lead fw-bold text-center">Your order</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="modalCancelClick($event)">×</button>
            </div>
            <div class="modal-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12">
                        <div class="card border-top border-bottom border-3">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col mb-1">
                                        <p class="small text-muted">Date</p>
                                        <p>10 April 2021</p>
                                    </div>
                                    <div class="col mb-3">
                                        <p class="small text-muted">Order No.</p>
                                        <p>ORD-123</p>
                                    </div>
                                </div>

                                <table class="table table-striped">
                                    <tbody>
                                        <tr *ngFor="let product of allOrderProducts">
                                            <td>{{product.name}}</td>
                                            <td class="rupee">{{product.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-8 col-lg-8">
                                        <b>Total</b>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <b class="rupee">{{productTotal}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-3">
                <button type="button" class="btn btn-sm btn-block btn-outline-success" data-dismiss="modal"
                    (click)="modalCancelClick($event)" data-i18n="button_Cancel">Confirm Order</button>
            </div>
        </div>
    </div>
</kendo-dialog>