<div>
  <header>

    <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>P I Z Z A R I A</strong>
        </a>
      </div>
    </div>
  </header>

  <main>
    <div class="row">
      <div class="col-lg-9">
        <section class="jumbotron text-center" *ngFor="let mn of menu.products">
          <div class="container">
            <h1>{{mn.productCategory?.name}}s</h1>
          </div>
          <div class="album py-5">
            <div class="container">
              <div class="row">
                <app-product-details class="col-md-4" (addToCartEmit)="addToCartListener($event)"
                  *ngFor="let pr of mn.products" [product]="pr">
                </app-product-details>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="col-lg-3">
        <div class="col-md-4 fixed-cart shadow-sm">
          <div class="card border-light mb-3">
            <h3 class="card-header text-center">C A R T</h3>
          </div>
          <div class="cart-wrapper">
            <div class="card mb-3" *ngFor="let product of allCartProduct">
              <img class="card-img-top" src="{{product.image}}" alt="{{product.name}}">
              <div class="card-body">
                <div class="row">
                  <div class="col-6`">
                    <h5 class="card-title">{{product.name}}</h5>
                  </div>
                  <div class="col-4"> <button (click)="DeleteCart(product)">Remove</button></div>
                </div>
                <div class="card-text">
                  <div class="row">
                    <div class="col-4">Quantity</div>
                    <div class="col-3">
                      <input class="form-control form-control-sm" type="number" min="1" value="1"
                        (change)="UpdateQuantity($event, product)" />
                    </div>
                    <h4 class="col-5 rupee">{{product.total}}</h4>
                  </div>
                  <div class="row" *ngIf="product.isCustomized">
                    <div class="col-12">
                      <h6>Your Customisation</h6>
                      <div class="small" *ngIf="product.pizzaSelectedToppingNames != undefined"><b>Added Toppings</b>:
                        {{product.pizzaSelectedToppingNames}}
                      </div>
                      <span class="small"><b>Size</b>: {{product?.size?.name}}
                      </span>
                      <span class="small"><b>Crust</b>: {{product?.crust?.name}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-light mb-3">
            <h3 class="card-header">Subtotal: <span class="rupee">{{cartTotal}}</span> </h3>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="ConfirmOrder()">Order</button>
          </div>
        </div>
      </div>
      <!-- <app-cart-details [productInfo] = "cartdata"></app-cart-details> -->
    </div>
  </main>
</div>

<app-order-details *ngIf="showConfirmOrderPopup" (hideConfirmOrderPopup)="hideConfirmOrderPopup($event)"
  [allOrderProducts]="allCartProduct" [productTotal]="cartTotal"></app-order-details>
<footer class="text-muted">
  <div class="container">
    <p>© Pizzaria, choose or customize it for yourself!</p>
  </div>
</footer>

<router-outlet></router-outlet>